@font-face {
  font-family: '';
  font-weight: 1 999;
  // src: url('../fonts/<VARIABLE_FONT_FILENAME>.ttf') format('truetype');
}

@font-face {
  font-family: '';
  font-weight: 0;
  // src: url('../fonts/<STATIC_FONT_FILENAME>.ttf') format('truetype');
}
